@using PatinhasMimadas.Common.Resources

@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-div text-center">
    <h1 class="welcome-text-title">@Html.Raw(TitlesResource.Welcome)</h1>
    <p class="welcome-text-subtitle">@TitlesResource.ExactlyWhatYourDogNeeds</p>
</div>

@section scripts {
    <script asp-add-nonce="true">
        new App();
    </script>
}
